.servieces_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.serviece {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}
.serviece:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.serviece_head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.serviece_head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}
.serviece__list {
  padding: 2rem;
}
.serviece__list li{
display: flex;
gap: 1rem;
margin-bottom: 0.8rem;
}
.serviece__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
    font-size: 30px;
}

.serviece__list p {
    font-size: 0.9rem;
}

/* =======================  MEDIA QUERIES (MEDUIM DEVICESS) ====== */

@media screen and (max-width : 1024px) {
  .servieces_container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .serviece {
    height: auto;
  }
   }
   
   /* =======================  MEDIA QUERIES (SMALL DEVICESS) ====== */
   
   @media screen and (max-width : 600PX) {
 .servieces_container  {
    grid-template-columns: 1fr;
    gap: 1.5rem;
 } 
}